# Natural Language Processing and Machine Learning
transformers
transformers[sentencepiece]
datasets
sacrebleu
rouge_score
py7zr
pandas
nltk
tqdm
matplotlib
torch==1.10.0
pyyaml  

# Web Framework and Related Dependencies
fastapi==0.78.0
uvicorn==0.18.3
Jinja2==3.1.2

# AWS and Cloud Services
boto3
mypy-boto3-s3

# Other Utilities
python-box==6.0.2
ensure==1.0.2 
pathlib  
typing  

# Development Dependency (Local Package)
-e .